body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container {
    display: flex;
    flex-direction: column;
    width: fit-content;


    fieldset {
        padding: 2rem;
    }
}

.button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
    background-color: #ccc;
}