{% extends 'game/base.html' %}

{% block content %}
    <div class="container" data-template="check">
        <form action="{% url 'game:check_guesses' game_id %}" method="post" >
            {% csrf_token %}
            <legend><h2>Check guesses</h2></legend>
            <div id="guesses_to_check">
                {% for guess in guesses %}
                    <fieldset>
                        <label>{{ hand.word.word }} means: {{ guess.content }}</label>
                        <select id="{{guess.id}}" name="{{guess.id}}">
                            <option value="False">Ok</option>
                            <option value="True">Remove</option>
                        </select>
                    </fieldset>
                {% endfor %}
            </div>
            <input type="submit" value="Ready" id="checked">
        </form>
    </div>
{% endblock %}