<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bleff</title>
</head>
<body>
    {% if object_list %}
        <form action="{% url 'game:enter_game' %}" method="post">
            {% csrf_token %}
            <fieldset>
                {% for game in object_list %}
                    <div>
                        <input type="radio" name="game" id="game{{ forloop.counter }}" value="{{ game.id }}">
                        <label>Game {{game.id}} ~ Created by: {{game.creator}}</label>
                    </div>
                {% endfor %}
            </fieldset>
            <input type="submit" value="Enter">
        </form>
    {% else %}
        <div>No games are available.</div>
    {% endif %}
</body>
</html>
