<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bleff</title>
</head>
<body>
    {% for user in object_list %}
        <h1>{{forloop.counter}}. {{user.username}}</h1>
    {% endfor %}
    {% if not game.creator or game.creator.id == user.id %}
        <form action="{% url 'game:start_game' game.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Start Game">
        </form>
    {% endif %}
</body>
</html>