.pointer {
    cursor: pointer;
    padding: 1.5rem;
    margin: 1.5rem;
    user-select: none;

    input {
        cursor: pointer;
    }
}

.pointer:hover {
    background-color: #ccc;
    border-radius: 10%;
}